In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl (14.5 MB)
                                              0.0/14.5 MB ? eta -:--:--
                                              0.0/14.5 MB 1.3 MB/s eta 0:00:12
                                              0.0/14.5 MB 1.3 MB/s eta 0:00:12
                                              0.0/14.5 MB 1.3 MB/s eta 0:00:12
                                              0.0/14.5 MB 1.3 MB/s eta 0:00:12
                                             0.1/14.5 MB 467.6 kB/s eta 0:00:31
                                             0.1/14.5 MB 467.6 kB/s eta 0:00:31
                                             0.1/14.5 MB 467.6 kB/s eta 0:00:31
                                             0.1/14.5 MB 300.4 kB/s eta 0:00:48
                                             0.2/14.5 MB 553.5 kB/s eta 0:00:26
                                             0.2/14.5 MB 553.5 kB/s eta 0:00:26
                                             0.2/14.5 MB 553.5 kB/s eta 0:00:26
                                             0.2/14.5 MB 553.5 kB/s eta 0:00:26
     -                                       0.5/14.5 MB 786.4 kB/s eta 0:00:18
     -                                       0.5/14.5 MB 786.4 kB/s eta 0:00:18
     -                                       0.5/14.5 MB 786.4 kB/s eta 0:00:18
     -                                       0.5/14.5 MB 786.4 kB/s eta 0:00:18
     --                                       0.9/14.5 MB 1.1 MB/s eta 0:00:13
     --                                       1.0/14.5 MB 1.2 MB/s eta 0:00:12
     --                                       1.0/14.5 MB 1.2 MB/s eta 0:00:12
     ---                                      1.2/14.5 MB 1.2 MB/s eta 0:00:12
     ----                                     1.5/14.5 MB 1.4 MB/s eta 0:00:09
     ----                                     1.5/14.5 MB 1.5 MB/s eta 0:00:09
     ----                                     1.6/14.5 MB 1.4 MB/s eta 0:00:09
     -----                                    1.8/14.5 MB 1.6 MB/s eta 0:00:09
     -----                                    2.1/14.5 MB 1.7 MB/s eta 0:00:08
     -------                                  2.6/14.5 MB 2.1 MB/s eta 0:00:06
     --------                                 3.0/14.5 MB 2.2 MB/s eta 0:00:06
     --------                                 3.2/14.5 MB 2.3 MB/s eta 0:00:05
     ----------                               3.8/14.5 MB 2.7 MB/s eta 0:00:05
     -----------                              4.2/14.5 MB 2.9 MB/s eta 0:00:04
     -------------                            4.9/14.5 MB 3.2 MB/s eta 0:00:03
     ---------------                          5.5/14.5 MB 3.5 MB/s eta 0:00:03
     -----------------                        6.2/14.5 MB 3.8 MB/s eta 0:00:03
     ------------------                       6.9/14.5 MB 4.1 MB/s eta 0:00:02
     --------------------                     7.5/14.5 MB 4.4 MB/s eta 0:00:02
     ----------------------                   8.1/14.5 MB 4.6 MB/s eta 0:00:02
     -----------------------                  8.6/14.5 MB 4.8 MB/s eta 0:00:02
     -------------------------                9.1/14.5 MB 4.9 MB/s eta 0:00:02
     ---------------------------              9.8/14.5 MB 5.1 MB/s eta 0:00:01
     ----------------------------             10.4/14.5 MB 6.6 MB/s eta 0:00:01
     ------------------------------           11.1/14.5 MB 8.7 MB/s eta 0:00:01
     -------------------------------         11.7/14.5 MB 10.1 MB/s eta 0:00:01
     ---------------------------------       12.3/14.5 MB 11.7 MB/s eta 0:00:01
     -----------------------------------     13.1/14.5 MB 12.1 MB/s eta 0:00:01
     ------------------------------------    13.7/14.5 MB 12.6 MB/s eta 0:00:01
     --------------------------------------  14.4/14.5 MB 12.8 MB/s eta 0:00:01
     --------------------------------------  14.4/14.5 MB 12.8 MB/s eta 0:00:01
     --------------------------------------  14.4/14.5 MB 12.8 MB/s eta 0:00:01
     --------------------------------------- 14.5/14.5 MB 11.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [6]:
import mysql.connector as connector

In [7]:
connection = connector.connect(user="root", password="mysqluje")

In [9]:
cursor=connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [ ]:
create_database_query="""CREATE DATABASE little_lemon"""

In [ ]:
#cursor.execute(create_database_query)

In [137]:
use_database_query="""USE little_lemon"""

In [138]:
cursor.execute(use_database_query)

In [140]:
create_menuitem_table="""
CREATE TABLE MenuItems(
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY(ItemID)
)
"""

In [142]:
#cursor.execute(create_menuitem_table)

In [ ]:
#cursor.execute("SHOW TABLES")
#for table in cursor:
 #   print(table)

In [119]:
#creating menu table
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [120]:
cursor.execute(create_menu_table)

In [86]:
#creating orders table
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [108]:
cursor.execute(create_orders_table)

In [109]:
create_bookings_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100),
GuestLastName VARCHAR(100),
BookingSlot TIME,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [32]:
cursor.execute(create_bookings_table)

In [48]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (200),
Role VARCHAR(100),
Address VARCHAR (200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100)
);"""

In [49]:
cursor.execute(create_employees_table)

In [ ]:
### Next we insert data into the tables created

In [144]:
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [154]:
# Populate MenuItems table
#cursor.execute(insert_menuitems)
#connection.commit()

In [121]:
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [122]:

# Populate Menu table
cursor.execute(insert_menu)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Total number of rows in Menu table: 12

AttributeError: 'NoneType' object has no attribute 'commit'

In [35]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [153]:
# Populate Bookings table
#cursor.execute(insert_bookings)
#connection.commit()

In [97]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [148]:
# Populate Orders table
#cursor.execute(insert_orders)
#print("Total number of rows in the Orders table: ", cursor.rowcount)
connection.commit()

In [95]:
insert_employees="""
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724 Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com',70000),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com',65000),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com',50000),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com',45000),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com',40000),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com',35000);"""

In [151]:
# Populate Employees table
#cursor.execute(insert_employees)
#print("Total number of rows in the Employees table: ", cursor.rowcount)
#connection.commit()

### Creating a pool with two connections

In [21]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [22]:
dbconfig={
  "database":"little_lemon_db",
  "user":"root",
    "password": "mysqluje"
} 

try:
    pool = MySQLConnectionPool(pool_name="pool_a",
                          pool_size = 2,
                          **dbconfig)
    print("The connection pool is created with a name:",pool.pool_name)
    print("The pool size is:", pool.pool_size)
    
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name: pool_a
The pool size is: 2

In [ ]:
#Obtaining a connection from pool_a and creating a cursor object

In [23]:
print("Getting a connection from the pool.")
connection1 = pool.get_connection()

print("Creating a cursor object.")
cursor= connection1.cursor()

Getting a connection from the pool.
Creating a cursor object.

### Implementing a stored procedure called PeakHours

In [45]:
#cursor.execute("DROP PROCEDURE IF EXISTS Peak_Hours;")
stored_procedure_query="""
CREATE PROCEDURE peak_hrs()

BEGIN

SELECT

COUNT(HOUR(BookingSlot)) as n_bookings,
HOUR(BookingSlot) as booking_hour
from Bookings
GROUP BY booking_hour
ORDER BY n_bookings DESC;

END

"""


#Execute the query
cursor.execute(stored_procedure_query)

#Call the stored procedure with its name
cursor.callproc("peak_hrs")

#Fetch records in "dataset"
results = next(cursor.stored_results())
dataset = results.fetchall()

#Fetch column names using list comprehension in a 'for' loop
for column_id in cursor.stored_results():
    columns= [column[0]for column in column_id.description]

#print column names
print(columns)

#print data
for data in dataset:
    print(data)

['n_bookings', 'booking_hour']
(2, 19)
(1, 15)
(1, 17)
(1, 18)
(1, 20)

### Implement a stored procedure GuestStatus

In [56]:
stored_procedure_query="""
CREATE PROCEDURE GuestStatus()

BEGIN

SELECT BookingID,
CONCAT(GuestFirstname,' ',GuestLastname) as Customer_name,
 

Role as Employee,

CASE

WHEN Role IN ('Manager','Assistant Manager') THEN "Ready to Pay"
WHEN Role = 'Head Chef' THEN "Ready to serve"
WHEN Role = 'Assistant Chef' THEN "Preparing order"
WHEN Role = 'Head Waiter' THEN "Order served"

ELSE "Pending"
END AS GuestStatus



FROM bookings 
LEFT JOIN 
Employees 
ON Employees.EmployeeID=Bookings.EmployeeID;
END

"""

#WHEN employeeID IN (3) THEN "Ready to serve"
#WHEN employeeID IN (4)THEN "Preparing Order"
#WHEN employeeID IN (5) THEN "Order served"
#ELSE "In Queue"
#END AS GuestStatus

#Execute the query
cursor.execute(stored_procedure_query)

#Call the stored procedure with its name
cursor.callproc("GuestStatus")

#Fetch records in "dataset"
results = next(cursor.stored_results())
dataset = results.fetchall()

#Fetch column names using list comprehension in a 'for' loop
for column_id in cursor.stored_results():
    columns= [column[0]for column in column_id.description]

#print column names
print(columns)

#print data
for data in dataset:
    print(data)

['BookingID', 'Customer_name', 'Employee', 'GuestStatus']
(1, 'Anna Iversen', 'Manager', 'Ready to Pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to Pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Preparing order')
(5, 'Hiroki Yamane', 'Assistant Manager', 'Ready to Pay')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')

In [70]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig={
  "database":"little_lemon_db",
  "user":"root",
    "password": "mysqluje"
} 

try:
    pool = MySQLConnectionPool(pool_name="pool_a",
                          pool_size = 4,
                          **dbconfig)
    print("The connection pool is created with a name:",pool.pool_name)
    print("The pool size is:", pool.pool_size)
    
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name: pool_a
The pool size is: 4

### Little Lemon Analysis and Sales Report

In [60]:
#obtaining a connection pool and creating a cursor object
print("Getting a connection from the pool.")
connection1 = pool.get_connection()

print("Creating a cursor object.")
cursor= connection1.cursor()

Getting a connection from the pool.
Creating a cursor object.

#### Booking dinner slots for three guests when the pool size is 2

In [61]:
# To connect the first guest, we write the following code:
connection1 = pool.get_connection()
cursor1=connection1.cursor()
booking1="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(8,'Anees','Java','18:00:00',6);"""
cursor1.execute(booking1)
connection1.commit()
print("""A new booking is added in the "Bookings" table.""")

A new booking is added in the "Bookings" table.

In [64]:
# To connect the second guest, we write the following code
connection2 = pool.get_connection()
cursor2=connection2.cursor()
booking2="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(5, 'Bald','Vin','19:00:00',6);"""
cursor2.execute(booking2)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")

A new booking is added in the "Bookings" table.

In [ ]:
#This gives an PoolError: Failed getting connection; pool exhausted.
#So we use try-except to print the error message)

In [66]:
# To connect the third user.
import mysql.connector as connector
try:
    connection3 = pool.get_connection()
    print("The third guest is connected")
except:
    print("Adding new connection in the pool.")
        
    # Create a connection
    connection=connector.connect(user="meta",password="password")
    # Add the connection into the pool
    pool.add_connection(cnx=connection)
    print("A new connection is added in the pool.\n")
        
    connection3 = pool.get_connection()
    print("'connection3' is added in the pool.")

The third guest is connected

### Create a report containing the following:

The Name and EmployeeID of the Little Lemon Manager.
The name and role of the employee who receives the highest salary.
The number of guests booked between 18:00 and 20:00.
The full name and the BookingId of each guest waiting to be seated 
with the receptionist in sorted order with respect to their BookingSlot.

In [71]:
#obtaining a connection pool and creating a cursor object
print("Getting a connection from the pool.")
connection1 = pool.get_connection()

print("Creating a cursor object.")
cursor= connection1.cursor()

Getting a connection from the pool.
Creating a cursor object.

#### The name and EmployeeID of the Little Lemon manager

In [74]:
cursor.execute("""SELECT 
Name, EmployeeID 
FROM Employees 
WHERE Role = 'Manager'""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('Name', 'EmployeeID')
('Mario Gollini', 1)

#### The name and role of the employee who receives the highest salary.

In [75]:
cursor.execute("""SELECT 
Name, EmployeeID 
FROM Employees ORDER BY 
Annual_Salary DESC LIMIT 1""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('Name', 'EmployeeID')
('Mario Gollini', 1)

#### The number of guests booked between 18:00:00 and 20:00:00.

In [76]:
cursor.execute("""SELECT 
COUNT(BookingID) n_booking_between_18_20_hrs
FROM Bookings 
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('n_booking_between_18_20_hrs',)
(6,)

###### The full name and the BookingId of each guest waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [77]:
cursor.execute("""
SELECT 

Bookings.BookingID AS ID,  
CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 

Role AS Employee

FROM Bookings 
LEFT JOIN 
Employees 
ON Employees.EmployeeID=Bookings.EmployeeID
WHERE Employees.Role = "Receptionist"
ORDER BY BookingSlot DESC;

""")

print("The following guests are waiting to be seated:")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

The following guests are waiting to be seated:
('ID', 'GuestName', 'Employee')
(8, 'Bald Vin', 'Receptionist')
(7, 'Anees Java', 'Receptionist')

#### Create a stored procedure called BasicSalesReport

In [111]:
stored_procedure_query="""
CREATE PROCEDURE BasicSalesReport()

BEGIN
SELECT 
SUM(BillAmount) AS total_sales,
AVG(BillAmount) AS average_sale,
MIN(BillAmount) AS min_bill_paid,
MAX(BillAmount) AS max_bill_paid
FROM Orders;
END
"""

# Execute the query
cursor.execute(stored_procedure_query)

#Call the stored procedure with its name
cursor.callproc("BasicSalesReport")

#Fetch records in "dataset"
results = next(cursor.stored_results())
dataset = results.fetchall()

#Fetch column names using list comprehension in a 'for' loop
for column_id in cursor.stored_results():
    columns= [column[0]for column in column_id.description]


    
print("Sales report:")
for result in results:
    print("\t",cols[0],"","",result[0])
    print("\t",cols[1],"" ,"",result[1])
    print("\t",cols[2],"", "",result[2])
    print("\t",cols[3],"","",result[3])

Sales report:

#### To display the next three upcoming bookings from the Bookings table

In [105]:
#getting a connection pool and creating a buffer
connection = pool.get_connection()
cursor=connection.cursor(buffered=True)

sql_query="""SELECT 
Bookings.BookingSlot,
CONCAT(Bookings.GuestFirstName," ",Bookings.GuestLastName) AS Guest_Name,
Employees.Name AS Emp_Name,
Employees.Role AS Emp_Role
FROM Bookings 
INNER JOIN 
Employees ON Bookings.EmployeeID=Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC;"""
cursor.execute(sql_query)
results=cursor.fetchmany(size=3)
#print(cursor.column_names)
for result in results:
    print("\nBookingSlot",result[0])
    print("\tGuest_name:",result[1])
    print("\tAssigned to:",result[2],"[{}]".format(result[3]))
    
connection.close()

BookingSlot 15:00:00
	Guest_name: Vanessa McCarthy
	Assigned to: Giorgos Dioudis [Head Chef]

BookingSlot 17:30:00
	Guest_name: Marcos Romero
	Assigned to: Fatma Kaya [Assistant Chef]

BookingSlot 18:00:00
	Guest_name: Anees Java
	Assigned to: John Millar [Receptionist]